* {
    BG:    #191724;
    BGA:   #ebbcba;
    FG:    #e0def4;
    FGA:   #eb6f92;
    BDR:   #31748f;
    SEL:   #1E1E2Eff;
    UGT:   #F28FADff;
    IMG:   #eb6f92;
    OFF:   #c4a7e7;
    ON:    #ABE9B3ff;
}
