
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #191724;
    background-alt: #26233a;
    foreground:     #e0def4;
    selected:       #EA9A97;
    active:         #31748f;
    urgent:         #F7768EFF;
}
