window {
    margin: 0px;
    border: 2px solid #E0B3B3;
    background-color: rgba(24, 22, 34, 0.3);
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #E0B3B3;
    font-weight: bold;
    background-color: rgba(24, 22, 34, 0.2);
   	outline: none;
    border-radius: 16px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid transparent;
    margin-bottom: 0px;
    color: #E0B3B3;
}

#inner-box {
    margin: 4px;
    border: 10px solid transparent;
    color: #D7ADAB;
    font-weight: bold;
    background-color: transparent;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    
    
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#img:selected {
    background-color: transparent;
    border-radius: 15px;
}

#text:selected {
    color: #191724;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    
}

#entry:selected {
    
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color:#D7ADAB;
}
