window {
    margin: 0px;
    background-color: #191724;
    border-radius: 12.6px;
    border: 2px solid #eb6f92;
    color: #e0def4;
    font-family: 'Iosevka';
    font-size: 14px;
}

#input {
    margin: 5px;
    border-radius: 12.6px;
    border: none;
    color: #eb6f92;
    background-color: #26233a;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #26233a;
    color: #191724;
    border-radius: 12.6px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #191724;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    background-color: #eb6f92;
    color: #191724;
    border-radius: 12.6px;
    outline: none;
}

#entry:selected * {
    background-color: #eb6f92;
    color: #191724;
    border-radius: 12.6px;
    outline: none;
}